<h5 class="mt-2">Bienvenido, {{user}}</h5>

<h2 class="text-center">Contamos con los mejores repuestos para tu Iveco</h2>
<p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam doloribus, atque exercitationem quo nulla sed tempora adipisci aliquid amet vitae veritatis sapiente distinctio in. Dignissimos sapiente quam blanditiis possimus unde?
Est incidunt saepe cum suscipit mollitia. Corporis totam voluptate reiciendis dolores. Molestias fugiat atque voluptas natus nisi eligendi quia commodi repellat veniam. Eos dignissimos dolorum, praesentium maxime quas sapiente dolore.</p>


<a href="catalogo" class="btn btn-primary mt-1">Ver catálogo</a>
<div class="position-absolute bottom-0 start-0">
<a href="/login/logout">
<input type="button" class="btn btn-danger mt-5" value="Logout">
</a>
</div>
